body {
    margin: 0;
    padding: 0;
}

.backgroundCardBody{
    background-color: aquamarine !important;
}

.allCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}